<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">

        {% block head %}
            <!--<link rel="stylesheet" href="style.css" />-->
            <title>{% block title %} Tytuł strony {% endblock %} | My Webpage</title>
        {% endblock %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>

        <div class="row"><!--  PASEK GORA -->
            <div class="topbar">
                <div class="logo pull-left">
                    <h1><a href="#"><img src="{% static 'img/pbkm.png' %}"></a> </h1>
                </div>
                <div class="topbar-login">
                        {% if user.id %}
                            <p class="active"><a href="/accounts/logout" class="text-primary">Log out ({{ user.username }})</a></p>
                        {% else %}
                            <p class="p-3 mb-2 bg-danger text-red"><a href="/accounts/login/">Log in</a> | <a href="/accounts/create_user">Sign up</a></p>
                        {% endif %}

                </div>
            </div>
        </div>

        <div ><!-- Menu -->
            <div id="mainmenu" class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <div>
                            <ul class="nav">
                                <li class="active"><a href="/address_book">List book</a></li>
                                <!--<li><a href="/address_book">List book</a></li>-->
                            </ul>
                        </div>
                    </div>
            </div>
        </div>


        <div class="row"><!-- Glowna czesc -->
            <div class="col-md-8"><!-- Lewa kolumna -->
                <div>
                    <H1 align="center">{% block title_page %} Tytuł {% endblock %}</H1>
                </div>
                <div id="content" class="container">
                    {% block content %}
                        zawartość
                    {% endblock %}
                </div>


            </div><!-- Koniec lewej kolumny -->

            <div  class="col-md-3"><!-- Prawa kolumna -->
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Twoje konto</li>
                        {% if user.id %}
                            <li class="active"><a href="/accounts/profile/">Settings profile</a></li>
                            <li><a href="">Powiadomienia</a></li>
                            <li><a href="/accounts/logout/">Logout ({{ user.username }})</a></li>
                        {% else %}
                            <li class="active"><a href="/accounts/login/">Log in</a></li>
                            <li><a href="/accounts/create_user">Sign up</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

    </body>

    <footer>
        <div id="footer">
            <p></p>
            {% block footer %}
                &copy; Copyright 2017 by <a href="http://...">Witkowski</a>.
            {% endblock %}
        </div>
        <strong>
            Dzisiaj jest {{ now }}
            | wersja: {{ version }}
        </strong>
    </footer>
</html>