<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">

        {% block head %}
            <!--<link rel="stylesheet" href="style.css" />-->
            <title>{% block title %} Tytuł strony {% endblock %} | My Webpage</title>
        {% endblock %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>

        <div class="row"><!--  PASEK GORA -->
            <div class="topbar" >
                <ol class="breadcrumb">
                  <li><a href="/accounts/login/"><img hspace="20" width="60" height="60" src="{% static 'img/pbkm.png' %}"></a></li>
                  <li><a href="/address_book">List book</a></li>
                  <li><a href="/group/">List Group</a></li>
                  <li class="active"><a href="/address_book/persons_all">All persons</a></li>
                    <div class="topbar-login">
                        {% if user.id %}
                        <span style="color:purple" >Login: {{ user.username }}</span>
                        <a href="/accounts/logout" class="text-primary">Log out</a>
                        {% else %}
                            <a href="/accounts/login/">Log in</a> | <a href="/accounts/create_user">Sign up</a>
                        {% endif %}
                    </div>
                </ol>
            </div>
        </div>


        <div class="row"><!-- Glowna czesc -->
            <div class="col-md-8"><!-- Lewa kolumna -->
                <div>
                    <H1 align="center">{% block title_page %} Tytuł {% endblock %}</H1>
                </div>
                <div id="content" class="container">
                    {% block content %}
                        zawartość
                    {% endblock %}
                </div>


            </div><!-- Koniec lewej kolumny -->

            <div  class="col-md-3"><!-- Prawa kolumna -->
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Twoje konto</li>
                        {% if user.id %}
                            <li class="active"><a href="/accounts/profile/">Settings profile</a></li>
                            <li><a href="/notifications/index/">Powiadomienia</a></li>
                            <li><a href="/accounts/logout/">Logout ({{ user.username }})</a></li>
                        {% else %}
                            <li class="active"><a href="/accounts/login/">Log in</a></li>
                            <li><a href="/accounts/create_user">Sign up</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

    </body>

    <footer>
        <div id="footer">
            <p></p>
            {% block footer %}
                &copy; Copyright 2017 by <a href="http://...">Witkowski</a>.
            {% endblock %}
        </div>
        <strong>
            Dzisiaj jest {{ now }}
            | wersja: {{ version }}
        </strong>
    </footer>
</html>