{% extends "base.html" %}
{% block javascript %}

<script>

$(document).ready(function(){
    $("#id_username").change(function () {
        var form = $(this).closest("form");

        $.ajax({
          url: '/ajax/validate_username/',
          data: form.serialize(),
          dataType: 'json',

          success: function (data) {
            if (data.is_taken) {
              alert(data.error_message);
              $('#error').text( data.error_message );
            }
            else {
              $('#error').text('');
            }
          }
        });
    });
});







</script>

{% endblock %}

{% block content %}
    <form action="/accounts/create_user/" method="post" class="form horizontal well">
        {% csrf_token %}

        {{ forms.as_p }}
        <br>
        <input type="submit" class="btn btn-inverse" value="create">

    </form>
    <div id="error" style="color:red;"></div>
{% endblock %}
