{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block title_page %} Login {% endblock %}

{% block content %}

<form action="/accounts/auth/" method="post" class="form horizontal well">
    {% csrf_token %}
    <label for="username">User: </label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password: </label>
    <input type="password" name="password" value="" id="password">
    <br>
    <input type="submit" class="btn btn-inverse" value="Login">

</form>

{% endblock %}