{% extends "base.html" %}

{% block title %} Group detail: {{ group_detail_form.name }} {% endblock %}

{% block title_page %} Group detail: {{ group_detail_form.name }} {% endblock %}

{% block content %}

<style>.wrapper{width:100%;}
.box{float:left; height:250px;}
.box:nth-child(1){
   width:25%;
   <!--background-color:red;-->

}
.box:nth-child(2){
   width:50%;
  <!--background-color:green;-->
}
.box:nth-child(3){
   width:25%;
  <!--background-color:yellow;-->
}
</style>

<div align="center" class="wrapper">


<p align="left"><a href="/group/group_person_add/{{ group_detail_form.id }}" >Dodaj</a> </p>

<table class="table">
    {% if group_detail_form.groupperson_set.all %}
        <tr class="bg-primary">
            <th>Name and Surname</th>
            <th>create date</th>
            <th>Delete</th>
        </tr>
    {% endif %}

{% for p in group_detail_form.groupperson_set.all %}
        <tr>
            <th>{{ p.person.name }} {{ p.person.surname }}</th>
            <th>{{ p.data_join }}</th>
            <th><a href="/group/group_person_del/{{ group_detail_form.id }}/{{ p.person.id }}">Del</a></th>
        </tr>
{% endfor %}
</table>

</div>

{% endblock %}