{% extends "base.html" %}

{% block title %} Group detail {% endblock %}

{% block title_page %} Group detail {% endblock %}

{% block content %}

<style>.wrapper{width:100%;}
.box{float:left; height:250px;}
.box:nth-child(1){
   width:25%;
   <!--background-color:red;-->

}
.box:nth-child(2){
   width:50%;
  <!--background-color:green;-->
}
.box:nth-child(3){
   width:25%;
  <!--background-color:yellow;-->
}
</style>

    <div align="center" class="wrapper">


<h2>{{ group_detail_form.name}}</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{{ group_detail_form.person_id.name }}

<!--get relations many to many field from one to other-->

<table class="table">
    {% if group_detail_form.groupperson_set.all %}
        <tr class="bg-primary">
            <th>Name and Surname</th>
            <th>create date</th>
            <th>Delete</th>
        </tr>
    {% endif %}

{% for p in group_detail_form.groupperson_set.all %}
        <tr>
            <th>{{ p.person.name }} {{ p.person.surname }}</th>
            <th>{{ p.data_join }}</th>
            <th><a href="/group/group_person_del/{{ group_detail_form.id }}/{{ p.person.id }}">Del</a></th>
        </tr>
{% endfor %}
</table>


<!--g = group_detail.groupperson_set.all()[0]-->
<p><a href="/group/group_person_add/{{ group_detail_form.id }}">Dodaj</a> </p>

</div>

{% endblock %}